[% INCLUDE 'include/header.tt' %]

<div id="data-upload">
    <span id="data-upload-file"><input type="file" name="file" value="" /></span>
    <span id="data-upload-button"><input type="button" value="upload" /></span>
    <span id="data-upload-message"></span>
</div>

[% INCLUDE 'include/footer.tt' %]
